<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tasanah.kamusmikrotik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.tasanah.kamusmikrotik.Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 3.) Include the AdActivity configChanges and theme. -->
        <!-- membuat tombol back  DI HALAMAN satu -->
        <activity
            android:name="com.tasanah.kamusmikrotik.IstilahMikrotik"
            android:label="Kamus Istilah Mikrotik"
            android:parentActivityName="com.tasanah.kamusmikrotik.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tasanah.kamusmikrotik.Home" />
        </activity> <!-- END membuat tombol back -->
        <!-- membuat tombol back  DI HALAMAN satu -->
        <activity
            android:name="com.tasanah.kamusmikrotik.VideoMikrotik"
            android:label="Tutorial Video Mikrotik"
            android:parentActivityName="com.tasanah.kamusmikrotik.Home">
            <meta-data
                android:name="android.support.v7.PARENT_ACTIVITY"
                android:value="com.tasanah.kamusmikrotik.Home" />
        </activity> <!-- END membuat tombol back -->
        <!-- membuat tombol back  DI HALAMAN satu -->
        <activity
            android:name="com.tasanah.kamusmikrotik.BelajarMikrotik"
            android:label="Belajar Mikrotik"
            android:parentActivityName="com.tasanah.kamusmikrotik.Home">
            <meta-data
                android:name="android.support.v7.PARENT_ACTIVITY"
                android:value="com.tasanah.kamusmikrotik.Home" />
        </activity>
        <!-- membuat tombol back  DI HALAMAN satu -->
        <activity
            android:name="com.tasanah.kamusmikrotik.About"
            android:label="About"
            android:parentActivityName="com.tasanah.kamusmikrotik.Home">
            <meta-data
                android:name="android.support.v7.PARENT_ACTIVITY"
                android:value="com.tasanah.kamusmikrotik.Home" />
        </activity> <!-- END membuat tombol back -->
    </application>

</manifest>